.ScreenHomeTitle {
  text-align: center;
  color: green;
  h1 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  p {
    font-size: large;
    margin: 0px;
    margin-bottom: 15px;
  }
}
